<!DOCTYPE html>
<html>
    <head>
<meta charset="utf-8">
<link rel="icon" href="https://cdn-icons-png.flaticon.com/512/252/252035.png">
<title>Know My Weather</title>
<meta name="viewport" content="width=device-width" initial-scale=1>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
<link rel="stylesheet" type="text/css" href="/css/mystyle.css">
</head>
<body>
<div class="container "style="box-shadow: 0 2px 10px rgba(0,0,255,0.3); height: 50px;width: 2500px;">
<div class="row" >
    
    <div class="col-lg-8"><i class="bi bi-cloud-fill" style="font-size: 2rem;color: darkblue;"></i></div>
    
    <div class="col-lg-2"><i class="bi bi-person-plus-fill" style="font-size: 2rem;color: darkblue;padding-left: 210px;"></i></div>
    <div class="col-lg-2"><i class="bi bi-person-check-fill" style="font-size: 2rem;color: darkblue;padding-left: 140px;"></i></div>
</div>       
</div>
<br>
<div class="cont">
    <div class="form sign-in">
        <form action="/signinsubmit" method="GET">
        <h2 style="color: darkblue;font-family: initial;">Welcome To Know My Weather!!!</h2>
        <label>
            <span>Email</span>
            <input type="email" name="email" />
        </label>
        <label>
            <span>Password</span>
            <input type="password" name="pwd" />
        </label>
        <button type="submit" class="submit">Sign In</button>
     </form>
    </div>
    <div class="sub-cont">
        <div class="img">
            <div class="img__text m--up">
             
                <h3>Don't have an account? Please Sign up!<h3>
            </div>
            <div class="img__text m--in">
            
                <h3>If you already have an account, just sign in.<h3>
            </div>
            <div class="img__btn">
                <span class="m--up" style="color: #165b99;">Sign Up</span>
                <span class="m--in" style="color: #165b99;">Sign In</span>
            </div>
        </div>
        <div class="form sign-up">
            <form action="/signupsubmit" method="GET">
            <h2  style="color: darkblue;font-family: initial;" >Create your Account to login!!!</h2>
            <label>
                <span>Name</span>
                <input type="text" name="name" required />
            </label>
            <label>
                <span>Email</span>
                <input type="email" name="email"required />
            </label>
            <label>
                <span>Password</span>
                <input type="password" name="pwd" required/>
            </label>
            <button type="submit" class="submit">Sign Up</button>
            </form>
        </div>
    </div>
</div>

<script>
    document.querySelector('.img__btn').addEventListener('click', function() {
        document.querySelector('.cont').classList.toggle('s--signup');
    });
</script>
</body>
</html>